{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="details" class="section">
    <h1>Portfolio Details</h1>
    <hr />
    
    <div id="details-wrapper">
      <div>
        <strong>{{ portfolio.title }}</strong>
      </div>
      <div>
        <i>{{ portfolio.created_at }}</i>
      </div>
      <p>{{ portfolio.description }}</p>
      <div class="toolbar">
        <a href="{% url 'edit-portfolio' portfolio.pk %}" class="button">Edit</a>
        <a href="{% url 'delete-portfolio' portfolio.pk %}" class="button danger">Delete</a>
      </div>
    </div>

    <div class="details flex-start">
      <div>
        {% include 'portfolio/details-daily-price-form.html' %}
      </div>
      <div>
        <img src="data:image/png;base64,{{ chart }}" alt="Portfolio Chart" class="chart" />
      </div>
    </div>
  </section>
{% endblock %}
