{% extends 'base.html' %}

{% block content %}
  <section class="section">
      <h1>My Portfolio</h1>
      <hr>


    <div class="flex-end">
      <a class="button danger" href="{% url 'create-portfolio' %}">Add Asset</a>
    </div>

    {% if page_obj %}
    <div>
      <img src="data:image/png;base64,{{ chart }}" alt="Portfolio Chart" class="chart" />
    </div>
    {% endif %}

    <section class="dashboard">
      {% for portfolio in page_obj %}
        <div class="content">
          <div class="portfolio card flex">
            <div>
              <div>
                <strong>{{ portfolio.title }}</strong>
              </div>
              <div>
                Created At: <i>{{ portfolio.created_at }}</i>
              </div>
              <p>Type: {{ portfolio.assetType }}</p>
              <a class="details-btn" href="{% url 'details-portfolio' portfolio.pk %}">See More</a>
            </div>

            {% if portfolio.get_latest_balance %}
              <div>
                <p>
                  Balance: <strong>{{ portfolio.get_latest_balance.balance }} USD</strong>
                </p>
                <p>
                  Latest Update: <i>{{ portfolio.get_latest_balance.date }}</i>
                </p>
              </div>
            {% endif %}
          </div>
        </div>
        {% empty  %}
        <div class="empty">
          <div>
            <h2>Your portfolio is empty.</h2>
            <p>Click on the 'Add Asset' buton to create your portfolio</p>
          </div>
        </div>
      {% endfor %}
    </section>
    {% include 'common/pagination.html' %}
  </section>
{% endblock %}
