body {
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

body::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  background: url('../images/grid.png') repeat-x;
  will-change: transform;
  z-index: -1;
}


h1 {
  margin: 0 0 20px;
  font-weight: 300;
  font-size: 1.25rem;
}

h2 {
  margin: 10px 0;
  font-weight: 300;
  font-size: 1.20rem;
}

h3 {
  margin: 10px 0;
  font-weight: 300;
  font-size: 1.15rem;
}

h4 {
  margin: 10px 0;
  font-weight: 300;
  font-size: 1.10rem;
}

a {
  color: #A30000;
  padding: 3px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: underline;
}

small {
  display: flex;
  align-items: center;
}

hr {
  border-top: 1px dotted #A30000;
}

button,
.button {
  font-size: 0.8125rem;
  padding: 4px 8px;
  margin: 10px 20px;
  border: none;
  vertical-align: middle;
  background: #337ab7;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger {
  color: #ffffff;
  background: #a30000;
}

footer {
  margin-top: 20px;
  text-align: center;
}

form {}

form div {
  overflow: hidden;
  padding: 10px;
  display: flex;
}

form .helptext {
  border-bottom: none;
  display: none;
}

input,
select,
textarea {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 5px 6px;
  margin-top: 0;
  color: var(--body-fg);
  width: 70%;
}

label {
  display: block;
  padding: 4px 10px 0 0;
  min-width: 160px;
  width: 160px;
  word-wrap: break-word;
  font-weight: 500;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.max-width {
  max-width: 100%;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
}

.admin {
  border-color: #ba2121;
}


.errorlist {
  color: #ba2121;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.page {
  display: flex;
  flex: 1 0 auto;
}

.page-content {
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.section {
  /* background: #212121; */
  padding: 10px 0;
  /* border: 1px solid #272727; */
  /* border-radius: 3px; */
  margin-bottom: 20px;
}

.empty {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard .content {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
}

.card {
  padding: 10px;
  justify-content: space-between;
  margin: 0;
}

.card div {
  margin: 3px;
}

.card img {
  width: 150px;
  height: 150px;
}

.chart {
  min-width: 500px;
  min-height: 300px;
}

.profile-image {
  width: 35px;
  height: 35px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
}