*,
*:after,
*:before {
  box-sizing: border-box;
}

.menu {
  margin-top: -50px;
  padding: 70px 20px;
  position: sticky;
  top: 0;
  overflow: auto;
  height: 100vh;
  
}

ul.menu-list {
  padding: 0;
  width: 100%;
  padding: 15px;
  background: #f5f5f5;
  min-height: 300px;
  min-width: 230px;
  border: 1px solid #e3e3e3;
}

ul.menu-list li.menu-item {
  list-style: none;
}

ul.menu-list a {
  color: #A30000;
  padding: 2px 15px 3px;
}