*,
*:after,
*:before {
  box-sizing: border-box;
}

.menu {
  margin-top: -90px;
  padding-top: 140px;
  position: sticky;
  top: 0;
  border-right: 1px solid #353535;
  overflow: auto;
  height: 100vh;
}

ul.menu-list {
  padding: 0;
  border: 1px solid #353535;
  color: #81d4fa;
  font-weight: 500;
  width: 275px;
}

ul.menu-list h3 {
  color: #f7f7f7;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 0.8125rem;
  text-align: left;
  background: #417690;
}

ul.menu-list li.menu-item {
  border-top: 1px solid #353535;
  position: relative;
  padding: 8px;
}

ul.menu-list a {
  color: #81d4fa;
}