.toolbar {
    padding: 10px;
    margin: 15px 0;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    display: flex;
}

.toolbar form div {
    border-bottom: none;
}

.toolbar .search-form, 
.toolbar .comment-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolbar .search-form label,
.toolbar .comment-form label {
    display: none;
}

.toolbar .search-form input,
.toolbar .comment-form input,
.toolbar .comment-form textarea,
.toolbar .comment-form textarea {
    height: 30px;
}