.toolbar {
    padding: 8px 10px;
    margin: 15px 0;
    background: #272727;
}

.toolbar form div {
    border-bottom: none;
    padding: 0;
}

.toolbar .search-form, 
.toolbar .comment-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toolbar .search-form label,
.toolbar .comment-form label {
    display: none;
}

.toolbar .search-form button,
.toolbar .comment-form button {
    border: 1px solid #353535;
    font-size: 0.8125rem;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: #121212;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
}

.toolbar .search-form input,
.toolbar .comment-form input,
.toolbar .comment-form textarea,
.toolbar .comment-form textarea {
    height: 30px;
}