<div class="menu">
  <ul class="menu-list">
    <h3>Menu</h3>
    <li class="menu-item">
      <a href="{% url 'home' %}" class="menu-link">Home</a>
    </li>
    <li class="menu-item">
      <a href="{% url 'posts' %}" class="menu-link">Posts</a>
    </li>
    <li class="menu-item">
      <a href="{% url 'create-post' %}" class="menu-link">Create Post</a>
    </li>
    <!--    <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="ai-book-open"></i>
                <span>Books</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="ai-bell"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li class="menu-item">    
            <a href="#" class="menu-link">
                <i class="ai-gear"></i>
                <span>Settings</span>
            </a>
        </li>
        <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-person"></i>
            <span>Profile</span>
        </a>
    </li>    -->
  </ul>
</div>
