<div class="menu">

  <ul class="menu-list wrapper">
    <li class="menu-item flex-start">
      <a href="{% url 'home' %}" class="menu-link">Home</a>
    </li>
    <li class="menu-item flex-start">
      <a href="{% url 'posts' %}" class="menu-link">News</a>
    </li>

    {% if user.is_authenticated %}
      <li class="menu-item flex-start">
        <a href="{% url 'portfolio' %}" class="menu-link">Portfolio</a>
      </li>
    {% endif %}

    {% comment %} <li class="menu-item">
      <strong>Markets</strong>
    </li>
    <li class="menu-item">
      <a href="{% url 'forex_list' %}" class="menu-link">Forex</a>
    </li>
    <li class="menu-item">
      <a href="{% url 'forex_list' %}" class="menu-link">Stocks</a>
    </li>
    <li class="menu-item">
      <a href="{% url 'commodities' %}" class="menu-link">Commodities</a>
    </li>
    <li class="menu-item">
      <a href="{% url 'forex_list' %}" class="menu-link">Cryptocurrency</a>
    </li> {% endcomment %}
  </ul>
</div>
