{% load url_query_append %}

<div class="toolbar">
  <div class="pagination">
    <div>
      {% if page_obj.has_previous %}
        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}">&laquo; Previous</a>
      {% endif %}
    </div>

    <div>
      {% if page_obj.number %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% endif %}
    </div>

    <div>
      {% if page_obj.has_next %}
        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}">Next &raquo;</a>
      {% endif %}
    </div>
  </div>
</div>
