{% load static %}

<div class="changelist-form-container">
  <div id="toolbar" class="toolbar">
    <form method="post" action="{% url 'comment-post' post.pk %}" class="comment-form">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">Add Comment</button>
    </form>
  </div>
</div>

<div>
  {% for comment in comments %}
    <div class="comment">
      <div class="profile">
        <div class="image">
          {% if comment.user.profile_picture %}
            <img src="{{ comment.user.profile_picture }}" alt="Profile Picture" class="profile-image"/>
          {% else %}
            <img src="{% static 'images/picture-profile.jpg' %}" alt="Profile Picture" class="profile-image" />
          {% endif %}
        </div>
        <div>
          <strong>{{ comment.user.get_full_name }}</strong>
          <i>{{ comment.date_time_of_publication }}</i>
        </div>
      </div>
      <p>{{ comment.text }}</p>
    </div>
  {% endfor %}
</div>
