{% load static %}

<div class="changelist-form-container">
  <div id="toolbar" class="toolbar">
    <form method="post" action="{% url 'comment-post' post.pk %}" class="comment-form">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">Add Comment</button>
    </form>
  </div>
</div>

<div>
  {% for comment in comments %}
    <div class="comments">
      <div class="top">
        <div class="userDetails">
          <div class="comment-data">
            <div class="profilepic">
              <div class="profile_img">
                <div class="image">
                  <img src="{% static 'images/person.png' %}" alt="img8" />
                </div>
              </div>
            </div>
            <strong>{{ comment.user.profile.get_full_name }}</strong>
            <p>{{ comment.text }}</p>
          </div>
          <span>{{ comment.date_time_of_publication }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
