{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="section">
    <div class="profile-section">
      <h2>Profile Information</h2>
      <hr>
      {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture }}" alt="Profile Picture" />
      {% else %}
        <img src="{% static 'images/picture-profile.jpg' %}" alt="Profile Picture" />
      {% endif %}
      <p>First Name: {{ profile.first_name }}</p>
      <p>Last Name: {{ profile.last_name }}</p>
      <p>Date of Birth: {{ profile.date_of_birth }}</p>

      <div class="toolbar">
        <div>
          <a href="{% url 'profile-edit' user.pk %}">Edit Profile</a>
        </div>
      </div>
    </div>

    <div class="user-section">
      <h2>User Information</h2>
      <hr>
      {% comment %} <p>Username: {{ user.username }}</p> {% endcomment %}
      <p>Email: {{ user.email }}</p>

      <div class="toolbar">
        <div>
          <a href="/admin">Admin</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
